
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClienteMantenedor</title>
</head>
<body>
    <div>
        <button type="button" class="btn btn-blue btn-min-width mr-1" v-on:click="tipoCUD"><i class="fa fa-floppy-o"></i> Guardar</button>

    </div>
</body>
</html>
